%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
  {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
  {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}},
  {gen_leader, ".*", {git, "git://github.com/abecciu/gen_leader_revival.git", "HEAD"}},
  {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}}
  ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
