body { padding-top: 10px; }
.no, .loading { display: none; }

.a { cursor: pointer; color: #006; border-bottom: dotted #090 1px; padding: 1px 4px; }
.a:hover { cursor: pointer; color: #006; border-bottom: solid #090 1px; background: #CDE4EB }

.h { padding: 0 20px; }

div.ro { font-family: Courier, fixed; font-size: 13px; line-height: 18px; color: #030;
	width: 90%; height: 320px; overflow: auto; display: none; 
	padding: 10px 20px;  }

/* FormCheck */
.vchecking { background: #ccc; }
.vwrong { background: #fcc; }
.vright { background: #cfc; }
.vnotice { position: absolute; width: 120px; padding: 10px 20px; z-index: 10003; 
	color: #f00; font-size: 8pt; cursor: pointer; background: #ffc; }

	